
@{
    ViewData["Title"] = "AdminLte";
    Layout = "~/Views/Shared/_ProductLayout.cshtml";
}

@*<h3><strong>Inicio</strong></h3>*@
<div class="box box-primary">
    <div class="jumbotron bg-white">
        <h3>Curso Avanzado Programaci&oacute;n .NET Core MVC</h3>
        <h4>Tareas MVC .NET Core</h4>
        <p><strong>Universidad Cat&oacute;lica Nordestana (UCNE)</strong> <br> Escuela de Sistemas</p>
        <p>Lenington del Orbe <br>Matr&iacute;cula: 20160153</p>
    </div>
</div>